/.project
/app/tmp/*
!/.idea/*
!/app/Console/Command/GetInfoShell.php

!/app/tmp/empty
/app/Vendor/Data/*
+
!/app/Vendor/Data/empty
!/app/Vendor/Data/Hashtag
/app/Vendor/Hashtag/*
!/app/Vendor/Hashtag/empty

